@font-face {
font-family: "AGENCYB"; src: url('/static/fonts/fonts/AGENCYB.TTF');
}
@font-face {
font-family: "AGENCYR"; src: url('/static/fonts/fonts/AGENCYR.TTF');
}
@font-face {
font-family: "ALGER"; src: url('/static/fonts/fonts/ALGER.TTF');
}
@font-face {
font-family: "ANTQUAB"; src: url('/static/fonts/fonts/ANTQUAB.TTF');
}
@font-face {
font-family: "ANTQUABI"; src: url('/static/fonts/fonts/ANTQUABI.TTF');
}
@font-face {
font-family: "ANTQUAI"; src: url('/static/fonts/fonts/ANTQUAI.TTF');
}
@font-face {
font-family: "arial"; src: url('/static/fonts/fonts/arial.ttf');
}
@font-face {
font-family: "arialbd"; src: url('/static/fonts/fonts/arialbd.ttf');
}
@font-face {
font-family: "arialbi"; src: url('/static/fonts/fonts/arialbi.ttf');
}
@font-face {
font-family: "ariali"; src: url('/static/fonts/fonts/ariali.ttf');
}
@font-face {
font-family: "ARIALN"; src: url('/static/fonts/fonts/ARIALN.TTF');
}
@font-face {
font-family: "ARIALNB"; src: url('/static/fonts/fonts/ARIALNB.TTF');
}
@font-face {
font-family: "ARIALNBI"; src: url('/static/fonts/fonts/ARIALNBI.TTF');
}
@font-face {
font-family: "ARIALNI"; src: url('/static/fonts/fonts/ARIALNI.TTF');
}
@font-face {
font-family: "ariblk"; src: url('/static/fonts/fonts/ariblk.ttf');
}
@font-face {
font-family: "ARLRDBD"; src: url('/static/fonts/fonts/ARLRDBD.TTF');
}
@font-face {
font-family: "bahnschrift"; src: url('/static/fonts/fonts/bahnschrift.ttf');
}
@font-face {
font-family: "BASKVILL"; src: url('/static/fonts/fonts/BASKVILL.TTF');
}
@font-face {
font-family: "BAUHS93"; src: url('/static/fonts/fonts/BAUHS93.TTF');
}
@font-face {
font-family: "BELL"; src: url('/static/fonts/fonts/BELL.TTF');
}
@font-face {
font-family: "BELLB"; src: url('/static/fonts/fonts/BELLB.TTF');
}
@font-face {
font-family: "BELLI"; src: url('/static/fonts/fonts/BELLI.TTF');
}
@font-face {
font-family: "BERNHC"; src: url('/static/fonts/fonts/BERNHC.TTF');
}
@font-face {
font-family: "beyond_the_mountains"; src: url('/static/fonts/fonts/beyond_the_mountains.otf');
}
@font-face {
font-family: "beyond_the_mountains"; src: url('/static/fonts/fonts/beyond_the_mountains.ttf');
}
@font-face {
font-family: "BKANT"; src: url('/static/fonts/fonts/BKANT.TTF');
}
@font-face {
font-family: "Black Jack Script"; src: url('/static/fonts/fonts/Black Jack Script.ttf');
}
@font-face {
font-family: "BLACKJAR"; src: url('/static/fonts/fonts/BLACKJAR.TTF');
}
@font-face {
font-family: "BOD_B"; src: url('/static/fonts/fonts/BOD_B.TTF');
}
@font-face {
font-family: "BOD_BI"; src: url('/static/fonts/fonts/BOD_BI.TTF');
}
@font-face {
font-family: "BOD_BLAI"; src: url('/static/fonts/fonts/BOD_BLAI.TTF');
}
@font-face {
font-family: "BOD_BLAR"; src: url('/static/fonts/fonts/BOD_BLAR.TTF');
}
@font-face {
font-family: "BOD_CB"; src: url('/static/fonts/fonts/BOD_CB.TTF');
}
@font-face {
font-family: "BOD_CBI"; src: url('/static/fonts/fonts/BOD_CBI.TTF');
}
@font-face {
font-family: "BOD_CI"; src: url('/static/fonts/fonts/BOD_CI.TTF');
}
@font-face {
font-family: "BOD_CR"; src: url('/static/fonts/fonts/BOD_CR.TTF');
}
@font-face {
font-family: "BOD_I"; src: url('/static/fonts/fonts/BOD_I.TTF');
}
@font-face {
font-family: "BOD_PSTC"; src: url('/static/fonts/fonts/BOD_PSTC.TTF');
}
@font-face {
font-family: "BOD_R"; src: url('/static/fonts/fonts/BOD_R.TTF');
}
@font-face {
font-family: "BOOKOS"; src: url('/static/fonts/fonts/BOOKOS.TTF');
}
@font-face {
font-family: "BOOKOSB"; src: url('/static/fonts/fonts/BOOKOSB.TTF');
}
@font-face {
font-family: "BOOKOSBI"; src: url('/static/fonts/fonts/BOOKOSBI.TTF');
}
@font-face {
font-family: "BOOKOSI"; src: url('/static/fonts/fonts/BOOKOSI.TTF');
}
@font-face {
font-family: "BRADHITC"; src: url('/static/fonts/fonts/BRADHITC.TTF');
}
@font-face {
font-family: "BRITANIC"; src: url('/static/fonts/fonts/BRITANIC.TTF');
}
@font-face {
font-family: "BRLNSB"; src: url('/static/fonts/fonts/BRLNSB.TTF');
}
@font-face {
font-family: "BRLNSDB"; src: url('/static/fonts/fonts/BRLNSDB.TTF');
}
@font-face {
font-family: "BRLNSR"; src: url('/static/fonts/fonts/BRLNSR.TTF');
}
@font-face {
font-family: "BROADW"; src: url('/static/fonts/fonts/BROADW.TTF');
}
@font-face {
font-family: "BRUSHSCI"; src: url('/static/fonts/fonts/BRUSHSCI.TTF');
}
@font-face {
font-family: "Bs Signature Demo"; src: url('/static/fonts/fonts/Bs Signature Demo.ttf');
}
@font-face {
font-family: "calibri"; src: url('/static/fonts/fonts/calibri.ttf');
}
@font-face {
font-family: "calibrib"; src: url('/static/fonts/fonts/calibrib.ttf');
}
@font-face {
font-family: "calibrii"; src: url('/static/fonts/fonts/calibrii.ttf');
}
@font-face {
font-family: "calibril"; src: url('/static/fonts/fonts/calibril.ttf');
}
@font-face {
font-family: "calibrili"; src: url('/static/fonts/fonts/calibrili.ttf');
}
@font-face {
font-family: "calibriz"; src: url('/static/fonts/fonts/calibriz.ttf');
}
@font-face {
font-family: "CALIFB"; src: url('/static/fonts/fonts/CALIFB.TTF');
}
@font-face {
font-family: "CALIFI"; src: url('/static/fonts/fonts/CALIFI.TTF');
}
@font-face {
font-family: "CALIFR"; src: url('/static/fonts/fonts/CALIFR.TTF');
}
@font-face {
font-family: "CALIST"; src: url('/static/fonts/fonts/CALIST.TTF');
}
@font-face {
font-family: "CALISTB"; src: url('/static/fonts/fonts/CALISTB.TTF');
}
@font-face {
font-family: "CALISTBI"; src: url('/static/fonts/fonts/CALISTBI.TTF');
}
@font-face {
font-family: "CALISTI"; src: url('/static/fonts/fonts/CALISTI.TTF');
}
@font-face {
font-family: "cambria"; src: url('/static/fonts/fonts/cambria.ttc');
}
@font-face {
font-family: "cambriab"; src: url('/static/fonts/fonts/cambriab.ttf');
}
@font-face {
font-family: "cambriai"; src: url('/static/fonts/fonts/cambriai.ttf');
}
@font-face {
font-family: "cambriaz"; src: url('/static/fonts/fonts/cambriaz.ttf');
}
@font-face {
font-family: "Candara"; src: url('/static/fonts/fonts/Candara.ttf');
}
@font-face {
font-family: "Candarab"; src: url('/static/fonts/fonts/Candarab.ttf');
}
@font-face {
font-family: "Candarai"; src: url('/static/fonts/fonts/Candarai.ttf');
}
@font-face {
font-family: "Candaral"; src: url('/static/fonts/fonts/Candaral.ttf');
}
@font-face {
font-family: "Candarali"; src: url('/static/fonts/fonts/Candarali.ttf');
}
@font-face {
font-family: "Candaraz"; src: url('/static/fonts/fonts/Candaraz.ttf');
}
@font-face {
font-family: "CASTELAR"; src: url('/static/fonts/fonts/CASTELAR.TTF');
}
@font-face {
font-family: "CENSCBK"; src: url('/static/fonts/fonts/CENSCBK.TTF');
}
@font-face {
font-family: "CENTAUR"; src: url('/static/fonts/fonts/CENTAUR.TTF');
}
@font-face {
font-family: "CENTURY"; src: url('/static/fonts/fonts/CENTURY.TTF');
}
@font-face {
font-family: "CHILLER"; src: url('/static/fonts/fonts/CHILLER.TTF');
}
@font-face {
font-family: "COLONNA"; src: url('/static/fonts/fonts/COLONNA.TTF');
}
@font-face {
font-family: "comic"; src: url('/static/fonts/fonts/comic.ttf');
}
@font-face {
font-family: "comicbd"; src: url('/static/fonts/fonts/comicbd.ttf');
}
@font-face {
font-family: "comici"; src: url('/static/fonts/fonts/comici.ttf');
}
@font-face {
font-family: "comicz"; src: url('/static/fonts/fonts/comicz.ttf');
}
@font-face {
font-family: "consola"; src: url('/static/fonts/fonts/consola.ttf');
}
@font-face {
font-family: "consolab"; src: url('/static/fonts/fonts/consolab.ttf');
}
@font-face {
font-family: "consolai"; src: url('/static/fonts/fonts/consolai.ttf');
}
@font-face {
font-family: "consolaz"; src: url('/static/fonts/fonts/consolaz.ttf');
}
@font-face {
font-family: "constan"; src: url('/static/fonts/fonts/constan.ttf');
}
@font-face {
font-family: "constanb"; src: url('/static/fonts/fonts/constanb.ttf');
}
@font-face {
font-family: "constani"; src: url('/static/fonts/fonts/constani.ttf');
}
@font-face {
font-family: "constanz"; src: url('/static/fonts/fonts/constanz.ttf');
}
@font-face {
font-family: "COOPBL"; src: url('/static/fonts/fonts/COOPBL.TTF');
}
@font-face {
font-family: "COPRGTB"; src: url('/static/fonts/fonts/COPRGTB.TTF');
}
@font-face {
font-family: "COPRGTL"; src: url('/static/fonts/fonts/COPRGTL.TTF');
}
@font-face {
font-family: "corbel"; src: url('/static/fonts/fonts/corbel.ttf');
}
@font-face {
font-family: "corbelb"; src: url('/static/fonts/fonts/corbelb.ttf');
}
@font-face {
font-family: "corbeli"; src: url('/static/fonts/fonts/corbeli.ttf');
}
@font-face {
font-family: "corbell"; src: url('/static/fonts/fonts/corbell.ttf');
}
@font-face {
font-family: "corbelli"; src: url('/static/fonts/fonts/corbelli.ttf');
}
@font-face {
font-family: "corbelz"; src: url('/static/fonts/fonts/corbelz.ttf');
}
@font-face {
font-family: "cour"; src: url('/static/fonts/fonts/cour.ttf');
}
@font-face {
font-family: "courbd"; src: url('/static/fonts/fonts/courbd.ttf');
}
@font-face {
font-family: "courbi"; src: url('/static/fonts/fonts/courbi.ttf');
}
@font-face {
font-family: "coure"; src: url('/static/fonts/fonts/coure.fon');
}
@font-face {
font-family: "couri"; src: url('/static/fonts/fonts/couri.ttf');
}
@font-face {
font-family: "Creamy Chocolate"; src: url('/static/fonts/fonts/Creamy Chocolate.otf');
}
@font-face {
font-family: "CURLZ___"; src: url('/static/fonts/fonts/CURLZ___.TTF');
}
@font-face {
font-family: "dosapp"; src: url('/static/fonts/fonts/dosapp.fon');
}
@font-face {
font-family: "ebrima"; src: url('/static/fonts/fonts/ebrima.ttf');
}
@font-face {
font-family: "ebrimabd"; src: url('/static/fonts/fonts/ebrimabd.ttf');
}
@font-face {
font-family: "ELEPHNT"; src: url('/static/fonts/fonts/ELEPHNT.TTF');
}
@font-face {
font-family: "ELEPHNTI"; src: url('/static/fonts/fonts/ELEPHNTI.TTF');
}
@font-face {
font-family: "ENGR"; src: url('/static/fonts/fonts/ENGR.TTF');
}
@font-face {
font-family: "ERASBD"; src: url('/static/fonts/fonts/ERASBD.TTF');
}
@font-face {
font-family: "ERASDEMI"; src: url('/static/fonts/fonts/ERASDEMI.TTF');
}
@font-face {
font-family: "ERASLGHT"; src: url('/static/fonts/fonts/ERASLGHT.TTF');
}
@font-face {
font-family: "ERASMD"; src: url('/static/fonts/fonts/ERASMD.TTF');
}
@font-face {
font-family: "FELIXTI"; src: url('/static/fonts/fonts/FELIXTI.TTF');
}
@font-face {
font-family: "FORTE"; src: url('/static/fonts/fonts/FORTE.TTF');
}
@font-face {
font-family: "FRABK"; src: url('/static/fonts/fonts/FRABK.TTF');
}
@font-face {
font-family: "FRABKIT"; src: url('/static/fonts/fonts/FRABKIT.TTF');
}
@font-face {
font-family: "FRADM"; src: url('/static/fonts/fonts/FRADM.TTF');
}
@font-face {
font-family: "FRADMCN"; src: url('/static/fonts/fonts/FRADMCN.TTF');
}
@font-face {
font-family: "FRADMIT"; src: url('/static/fonts/fonts/FRADMIT.TTF');
}
@font-face {
font-family: "FRAHV"; src: url('/static/fonts/fonts/FRAHV.TTF');
}
@font-face {
font-family: "FRAHVIT"; src: url('/static/fonts/fonts/FRAHVIT.TTF');
}
@font-face {
font-family: "framd"; src: url('/static/fonts/fonts/framd.ttf');
}
@font-face {
font-family: "FRAMDCN"; src: url('/static/fonts/fonts/FRAMDCN.TTF');
}
@font-face {
font-family: "framdit"; src: url('/static/fonts/fonts/framdit.ttf');
}
@font-face {
font-family: "FREESCPT"; src: url('/static/fonts/fonts/FREESCPT.TTF');
}
@font-face {
font-family: "FRSCRIPT"; src: url('/static/fonts/fonts/FRSCRIPT.TTF');
}
@font-face {
font-family: "FTLTLT"; src: url('/static/fonts/fonts/FTLTLT.TTF');
}
@font-face {
font-family: "Gabriola"; src: url('/static/fonts/fonts/Gabriola.ttf');
}
@font-face {
font-family: "GARA"; src: url('/static/fonts/fonts/GARA.TTF');
}
@font-face {
font-family: "GARABD"; src: url('/static/fonts/fonts/GARABD.TTF');
}
@font-face {
font-family: "GARAIT"; src: url('/static/fonts/fonts/GARAIT.TTF');
}
@font-face {
font-family: "georgia"; src: url('/static/fonts/fonts/georgia.ttf');
}
@font-face {
font-family: "georgiab"; src: url('/static/fonts/fonts/georgiab.ttf');
}
@font-face {
font-family: "georgiai"; src: url('/static/fonts/fonts/georgiai.ttf');
}
@font-face {
font-family: "georgiaz"; src: url('/static/fonts/fonts/georgiaz.ttf');
}
@font-face {
font-family: "GIGI"; src: url('/static/fonts/fonts/GIGI.TTF');
}
@font-face {
font-family: "GILBI___"; src: url('/static/fonts/fonts/GILBI___.TTF');
}
@font-face {
font-family: "GILB____"; src: url('/static/fonts/fonts/GILB____.TTF');
}
@font-face {
font-family: "GILC____"; src: url('/static/fonts/fonts/GILC____.TTF');
}
@font-face {
font-family: "GILI____"; src: url('/static/fonts/fonts/GILI____.TTF');
}
@font-face {
font-family: "GILLUBCD"; src: url('/static/fonts/fonts/GILLUBCD.TTF');
}
@font-face {
font-family: "GILSANUB"; src: url('/static/fonts/fonts/GILSANUB.TTF');
}
@font-face {
font-family: "GIL_____"; src: url('/static/fonts/fonts/GIL_____.TTF');
}
@font-face {
font-family: "GLECB"; src: url('/static/fonts/fonts/GLECB.TTF');
}
@font-face {
font-family: "GLSNECB"; src: url('/static/fonts/fonts/GLSNECB.TTF');
}
@font-face {
font-family: "GOTHIC"; src: url('/static/fonts/fonts/GOTHIC.TTF');
}
@font-face {
font-family: "GOTHICB"; src: url('/static/fonts/fonts/GOTHICB.TTF');
}
@font-face {
font-family: "GOTHICBI"; src: url('/static/fonts/fonts/GOTHICBI.TTF');
}
@font-face {
font-family: "GOTHICI"; src: url('/static/fonts/fonts/GOTHICI.TTF');
}
@font-face {
font-family: "GOUDOS"; src: url('/static/fonts/fonts/GOUDOS.TTF');
}
@font-face {
font-family: "GOUDOSB"; src: url('/static/fonts/fonts/GOUDOSB.TTF');
}
@font-face {
font-family: "GOUDOSI"; src: url('/static/fonts/fonts/GOUDOSI.TTF');
}
@font-face {
font-family: "GOUDYSTO"; src: url('/static/fonts/fonts/GOUDYSTO.TTF');
}
@font-face {
font-family: "HARLOWSI"; src: url('/static/fonts/fonts/HARLOWSI.TTF');
}
@font-face {
font-family: "HARNGTON"; src: url('/static/fonts/fonts/HARNGTON.TTF');
}
@font-face {
font-family: "HATTEN"; src: url('/static/fonts/fonts/HATTEN.TTF');
}
@font-face {
font-family: "himalaya"; src: url('/static/fonts/fonts/himalaya.ttf');
}
@font-face {
font-family: "HTOWERT"; src: url('/static/fonts/fonts/HTOWERT.TTF');
}
@font-face {
font-family: "HTOWERTI"; src: url('/static/fonts/fonts/HTOWERTI.TTF');
}
@font-face {
font-family: "impact"; src: url('/static/fonts/fonts/impact.ttf');
}
@font-face {
font-family: "IMPRISHA"; src: url('/static/fonts/fonts/IMPRISHA.TTF');
}
@font-face {
font-family: "INFROMAN"; src: url('/static/fonts/fonts/INFROMAN.TTF');
}
@font-face {
font-family: "Inkfree"; src: url('/static/fonts/fonts/Inkfree.ttf');
}
@font-face {
font-family: "ITCBLKAD"; src: url('/static/fonts/fonts/ITCBLKAD.TTF');
}
@font-face {
font-family: "ITCEDSCR"; src: url('/static/fonts/fonts/ITCEDSCR.TTF');
}
@font-face {
font-family: "ITCKRIST"; src: url('/static/fonts/fonts/ITCKRIST.TTF');
}
@font-face {
font-family: "javatext"; src: url('/static/fonts/fonts/javatext.ttf');
}
@font-face {
font-family: "JOKERMAN"; src: url('/static/fonts/fonts/JOKERMAN.TTF');
}
@font-face {
font-family: "JUICE___"; src: url('/static/fonts/fonts/JUICE___.TTF');
}
@font-face {
font-family: "KGSkinnyLatte"; src: url('/static/fonts/fonts/KGSkinnyLatte.ttf');
}
@font-face {
font-family: "KUNSTLER"; src: url('/static/fonts/fonts/KUNSTLER.TTF');
}
@font-face {
font-family: "LATINWD"; src: url('/static/fonts/fonts/LATINWD.TTF');
}
@font-face {
font-family: "LBRITE"; src: url('/static/fonts/fonts/LBRITE.TTF');
}
@font-face {
font-family: "LBRITED"; src: url('/static/fonts/fonts/LBRITED.TTF');
}
@font-face {
font-family: "LBRITEDI"; src: url('/static/fonts/fonts/LBRITEDI.TTF');
}
@font-face {
font-family: "LBRITEI"; src: url('/static/fonts/fonts/LBRITEI.TTF');
}
@font-face {
font-family: "LCALLIG"; src: url('/static/fonts/fonts/LCALLIG.TTF');
}
@font-face {
font-family: "LFAX"; src: url('/static/fonts/fonts/LFAX.TTF');
}
@font-face {
font-family: "LFAXD"; src: url('/static/fonts/fonts/LFAXD.TTF');
}
@font-face {
font-family: "LFAXDI"; src: url('/static/fonts/fonts/LFAXDI.TTF');
}
@font-face {
font-family: "LFAXI"; src: url('/static/fonts/fonts/LFAXI.TTF');
}
@font-face {
font-family: "LHANDW"; src: url('/static/fonts/fonts/LHANDW.TTF');
}
@font-face {
font-family: "LSANS"; src: url('/static/fonts/fonts/LSANS.TTF');
}
@font-face {
font-family: "LSANSD"; src: url('/static/fonts/fonts/LSANSD.TTF');
}
@font-face {
font-family: "LSANSDI"; src: url('/static/fonts/fonts/LSANSDI.TTF');
}
@font-face {
font-family: "LSANSI"; src: url('/static/fonts/fonts/LSANSI.TTF');
}
@font-face {
font-family: "LTYPE"; src: url('/static/fonts/fonts/LTYPE.TTF');
}
@font-face {
font-family: "LTYPEB"; src: url('/static/fonts/fonts/LTYPEB.TTF');
}
@font-face {
font-family: "LTYPEBO"; src: url('/static/fonts/fonts/LTYPEBO.TTF');
}
@font-face {
font-family: "LTYPEO"; src: url('/static/fonts/fonts/LTYPEO.TTF');
}
@font-face {
font-family: "lucon"; src: url('/static/fonts/fonts/lucon.ttf');
}
@font-face {
font-family: "l_10646"; src: url('/static/fonts/fonts/l_10646.ttf');
}
@font-face {
font-family: "MAGNETOB"; src: url('/static/fonts/fonts/MAGNETOB.TTF');
}
@font-face {
font-family: "MAIAN"; src: url('/static/fonts/fonts/MAIAN.TTF');
}
@font-face {
font-family: "MATURASC"; src: url('/static/fonts/fonts/MATURASC.TTF');
}
@font-face {
font-family: "MerryChristmasFlake"; src: url('/static/fonts/fonts/MerryChristmasFlake.ttf');
}
@font-face {
font-family: "MerryChristmasStar"; src: url('/static/fonts/fonts/MerryChristmasStar.ttf');
}
@font-face {
font-family: "micross"; src: url('/static/fonts/fonts/micross.ttf');
}
@font-face {
font-family: "MISTRAL"; src: url('/static/fonts/fonts/MISTRAL.TTF');
}
@font-face {
font-family: "MOD20"; src: url('/static/fonts/fonts/MOD20.TTF');
}
@font-face {
font-family: "modern"; src: url('/static/fonts/fonts/modern.fon');
}
@font-face {
font-family: "MTCORSVA"; src: url('/static/fonts/fonts/MTCORSVA.TTF');
}
@font-face {
font-family: "mvboli"; src: url('/static/fonts/fonts/mvboli.ttf');
}
@font-face {
font-family: "NIAGENG"; src: url('/static/fonts/fonts/NIAGENG.TTF');
}
@font-face {
font-family: "NIAGSOL"; src: url('/static/fonts/fonts/NIAGSOL.TTF');
}
@font-face {
font-family: "OCRAEXT"; src: url('/static/fonts/fonts/OCRAEXT.TTF');
}
@font-face {
font-family: "OLDENGL"; src: url('/static/fonts/fonts/OLDENGL.TTF');
}
@font-face {
font-family: "ONYX"; src: url('/static/fonts/fonts/ONYX.TTF');
}
@font-face {
font-family: "pala"; src: url('/static/fonts/fonts/pala.ttf');
}
@font-face {
font-family: "palab"; src: url('/static/fonts/fonts/palab.ttf');
}
@font-face {
font-family: "palabi"; src: url('/static/fonts/fonts/palabi.ttf');
}
@font-face {
font-family: "palai"; src: url('/static/fonts/fonts/palai.ttf');
}
@font-face {
font-family: "PALSCRI"; src: url('/static/fonts/fonts/PALSCRI.TTF');
}
@font-face {
font-family: "PAPYRUS"; src: url('/static/fonts/fonts/PAPYRUS.TTF');
}
@font-face {
font-family: "PARCHM"; src: url('/static/fonts/fonts/PARCHM.TTF');
}
@font-face {
font-family: "PERBI___"; src: url('/static/fonts/fonts/PERBI___.TTF');
}
@font-face {
font-family: "PERB____"; src: url('/static/fonts/fonts/PERB____.TTF');
}
@font-face {
font-family: "PERI____"; src: url('/static/fonts/fonts/PERI____.TTF');
}
@font-face {
font-family: "PERTIBD"; src: url('/static/fonts/fonts/PERTIBD.TTF');
}
@font-face {
font-family: "PERTILI"; src: url('/static/fonts/fonts/PERTILI.TTF');
}
@font-face {
font-family: "PER_____"; src: url('/static/fonts/fonts/PER_____.TTF');
}
@font-face {
font-family: "PLAYBILL"; src: url('/static/fonts/fonts/PLAYBILL.TTF');
}
@font-face {
font-family: "POORICH"; src: url('/static/fonts/fonts/POORICH.TTF');
}
@font-face {
font-family: "PRISTINA"; src: url('/static/fonts/fonts/PRISTINA.TTF');
}
@font-face {
font-family: "RAGE"; src: url('/static/fonts/fonts/RAGE.TTF');
}
@font-face {
font-family: "RAVIE"; src: url('/static/fonts/fonts/RAVIE.TTF');
}
@font-face {
font-family: "REFSAN"; src: url('/static/fonts/fonts/REFSAN.TTF');
}
@font-face {
font-family: "ROCCB___"; src: url('/static/fonts/fonts/ROCCB___.TTF');
}
@font-face {
font-family: "ROCC____"; src: url('/static/fonts/fonts/ROCC____.TTF');
}
@font-face {
font-family: "ROCK"; src: url('/static/fonts/fonts/ROCK.TTF');
}
@font-face {
font-family: "ROCKB"; src: url('/static/fonts/fonts/ROCKB.TTF');
}
@font-face {
font-family: "ROCKBI"; src: url('/static/fonts/fonts/ROCKBI.TTF');
}
@font-face {
font-family: "ROCKEB"; src: url('/static/fonts/fonts/ROCKEB.TTF');
}
@font-face {
font-family: "ROCKI"; src: url('/static/fonts/fonts/ROCKI.TTF');
}
@font-face {
font-family: "roman"; src: url('/static/fonts/fonts/roman.fon');
}
@font-face {
font-family: "SCHLBKB"; src: url('/static/fonts/fonts/SCHLBKB.TTF');
}
@font-face {
font-family: "SCHLBKBI"; src: url('/static/fonts/fonts/SCHLBKBI.TTF');
}
@font-face {
font-family: "SCHLBKI"; src: url('/static/fonts/fonts/SCHLBKI.TTF');
}
@font-face {
font-family: "script"; src: url('/static/fonts/fonts/script.fon');
}
@font-face {
font-family: "SCRIPTBL"; src: url('/static/fonts/fonts/SCRIPTBL.TTF');
}
@font-face {
font-family: "segoepr"; src: url('/static/fonts/fonts/segoepr.ttf');
}
@font-face {
font-family: "segoeprb"; src: url('/static/fonts/fonts/segoeprb.ttf');
}
@font-face {
font-family: "segoesc"; src: url('/static/fonts/fonts/segoesc.ttf');
}
@font-face {
font-family: "segoescb"; src: url('/static/fonts/fonts/segoescb.ttf');
}
@font-face {
font-family: "segoeui"; src: url('/static/fonts/fonts/segoeui.ttf');
}
@font-face {
font-family: "segoeuib"; src: url('/static/fonts/fonts/segoeuib.ttf');
}
@font-face {
font-family: "segoeuii"; src: url('/static/fonts/fonts/segoeuii.ttf');
}
@font-face {
font-family: "segoeuil"; src: url('/static/fonts/fonts/segoeuil.ttf');
}
@font-face {
font-family: "segoeuisl"; src: url('/static/fonts/fonts/segoeuisl.ttf');
}
@font-face {
font-family: "segoeuiz"; src: url('/static/fonts/fonts/segoeuiz.ttf');
}
@font-face {
font-family: "seguibl"; src: url('/static/fonts/fonts/seguibl.ttf');
}
@font-face {
font-family: "seguibli"; src: url('/static/fonts/fonts/seguibli.ttf');
}
@font-face {
font-family: "seguihis"; src: url('/static/fonts/fonts/seguihis.ttf');
}
@font-face {
font-family: "seguili"; src: url('/static/fonts/fonts/seguili.ttf');
}
@font-face {
font-family: "seguisb"; src: url('/static/fonts/fonts/seguisb.ttf');
}
@font-face {
font-family: "seguisbi"; src: url('/static/fonts/fonts/seguisbi.ttf');
}
@font-face {
font-family: "seguisli"; src: url('/static/fonts/fonts/seguisli.ttf');
}
@font-face {
font-family: "seguisym"; src: url('/static/fonts/fonts/seguisym.ttf');
}
@font-face {
font-family: "serife"; src: url('/static/fonts/fonts/serife.fon');
}
@font-face {
font-family: "SHOWG"; src: url('/static/fonts/fonts/SHOWG.TTF');
}
@font-face {
font-family: "Sitka"; src: url('/static/fonts/fonts/Sitka.ttc');
}
@font-face {
font-family: "SitkaB"; src: url('/static/fonts/fonts/SitkaB.ttc');
}
@font-face {
font-family: "SitkaI"; src: url('/static/fonts/fonts/SitkaI.ttc');
}
@font-face {
font-family: "SitkaZ"; src: url('/static/fonts/fonts/SitkaZ.ttc');
}
@font-face {
font-family: "smalle"; src: url('/static/fonts/fonts/smalle.fon');
}
@font-face {
font-family: "SNAP____"; src: url('/static/fonts/fonts/SNAP____.TTF');
}
@font-face {
font-family: "sserife"; src: url('/static/fonts/fonts/sserife.fon');
}
@font-face {
font-family: "STENCIL"; src: url('/static/fonts/fonts/STENCIL.TTF');
}
@font-face {
font-family: "Sweet Cookie"; src: url('/static/fonts/fonts/Sweet Cookie.ttf');
}
@font-face {
font-family: "sylfaen"; src: url('/static/fonts/fonts/sylfaen.ttf');
}
@font-face {
font-family: "tahoma"; src: url('/static/fonts/fonts/tahoma.ttf');
}
@font-face {
font-family: "tahomabd"; src: url('/static/fonts/fonts/tahomabd.ttf');
}
@font-face {
font-family: "TCBI____"; src: url('/static/fonts/fonts/TCBI____.TTF');
}
@font-face {
font-family: "TCB_____"; src: url('/static/fonts/fonts/TCB_____.TTF');
}
@font-face {
font-family: "TCCB____"; src: url('/static/fonts/fonts/TCCB____.TTF');
}
@font-face {
font-family: "TCCEB"; src: url('/static/fonts/fonts/TCCEB.TTF');
}
@font-face {
font-family: "TCCM____"; src: url('/static/fonts/fonts/TCCM____.TTF');
}
@font-face {
font-family: "TCMI____"; src: url('/static/fonts/fonts/TCMI____.TTF');
}
@font-face {
font-family: "TCM_____"; src: url('/static/fonts/fonts/TCM_____.TTF');
}
@font-face {
font-family: "TEMPSITC"; src: url('/static/fonts/fonts/TEMPSITC.TTF');
}
@font-face {
font-family: "times"; src: url('/static/fonts/fonts/times.ttf');
}
@font-face {
font-family: "timesbd"; src: url('/static/fonts/fonts/timesbd.ttf');
}
@font-face {
font-family: "timesbi"; src: url('/static/fonts/fonts/timesbi.ttf');
}
@font-face {
font-family: "timesi"; src: url('/static/fonts/fonts/timesi.ttf');
}
@font-face {
font-family: "trebuc"; src: url('/static/fonts/fonts/trebuc.ttf');
}
@font-face {
font-family: "trebucbd"; src: url('/static/fonts/fonts/trebucbd.ttf');
}
@font-face {
font-family: "trebucbi"; src: url('/static/fonts/fonts/trebucbi.ttf');
}
@font-face {
font-family: "trebucit"; src: url('/static/fonts/fonts/trebucit.ttf');
}
@font-face {
font-family: "verdana"; src: url('/static/fonts/fonts/verdana.ttf');
}
@font-face {
font-family: "verdanab"; src: url('/static/fonts/fonts/verdanab.ttf');
}
@font-face {
font-family: "verdanai"; src: url('/static/fonts/fonts/verdanai.ttf');
}
@font-face {
font-family: "verdanaz"; src: url('/static/fonts/fonts/verdanaz.ttf');
}
@font-face {
font-family: "vgafix"; src: url('/static/fonts/fonts/vgafix.fon');
}
@font-face {
font-family: "vgaoem"; src: url('/static/fonts/fonts/vgaoem.fon');
}
@font-face {
font-family: "vgasys"; src: url('/static/fonts/fonts/vgasys.fon');
}
@font-face {
font-family: "VINERITC"; src: url('/static/fonts/fonts/VINERITC.TTF');
}
@font-face {
font-family: "VIVALDII"; src: url('/static/fonts/fonts/VIVALDII.TTF');
}
@font-face {
font-family: "VLADIMIR"; src: url('/static/fonts/fonts/VLADIMIR.TTF');
}
