{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
body {
  font-family: "Lato", sans-serif;
}

</style>
</head>
<body>

<div id="Daily" class="tabcontent" style="display:block;">
  <h8 class="punchedtext">Funnel</h8>
  <div class="tablecontainer">
  <table style="border:transparent;">
  <tr style="position:absolute;position:sticky;top:0;background-color:#2d2c29;">
    <th >Product Name</th>
    <th >Size</th>
    <th >Price</th>
  </tr>
 {% for itembuttons in itembuttons %}
  <tr >
    <td style="color:#A0A0A0;">{{itembuttons.productname}}</td>
    <td style="color:#A0A0A0;">{{itembuttons.Size}}{{itembuttons.PSize}}</td>
    <td style="color:#A0A0A0;">{{itembuttons.Price}}</td>
  </tr>
 {% endfor %}

</table>
</div>

</div>

<div id="Monthly" class="tabcontent">
  <h8 class="punchedtext">Monthly</h8>
  <div class="monthlydiv">
  <table style="border: 2px solid #615632;border-radius:15px">
  <tr style="position:absolute;position:sticky;top:0;background-color:#2d2c29;">
    <th>Month</th>
    <th>Sales</th>
    <th>Expenses</th>
    <th>C.O.G.S</th>
    <th>Net</th>
  </tr>

</table>
</div>
</div>

<div id="Quarterly" class="tabcontent">
  <h8 class="punchedtext">Quarterly</h8>
  <table style="border: 2px solid #615632;border-radius:15px">
  <tr style="position:absolute;position:sticky;top:0;background-color:#2d2c29;">
    <th>Quarter</th>
    <th>Sales</th>
    <th>Expenses</th>
    <th>Net</th>
    <th>No. of Cups Sold</th>
  </tr>
  <tr>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
  </tr>

</table>

</div>
<div id="Yearly" class="tabcontent">
  <h8 class="punchedtext">Yearly</h8>
  <table style="border: 2px solid #615632;border-radius:15px">
  <tr style="position:absolute;position:sticky;top:0;background-color:#2d2c29;">
    <th>Year</th>
    <th>Sales</th>
    <th>Expenses</th>
    <th>Net</th>
    <th>No. of Cups Sold</th>
  </tr>
  <tr>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
    <td style="color:#A0A0A0;"></td>
  </tr>

</table>

</div>



<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


</script>
   
</body>
</body>
</html> 
