{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
body {
  font-family: "Lato", sans-serif;
}

</style>
</head>
<body>
<h1>Messenger KGD E-Cafe</h1>

<fb:login-button 
  config_id="747675206784315"
  onlogin="checkLoginState();">
</fb:login-button>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=322226503290078&autoLogAppEvents=1" nonce="oqgHx68x"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '747675206784315',
      cookie     : true,
      xfbml      : true,
      version    : 'v15.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>
   
</body>
</body>
</html> 
